body {
  background-color: peachpuff;
}

.App {
  text-align: center;
  text-shadow: 1px 2px 2px tomato;
}

.App-link {
  color: #61dafb;
}

.searchbar {
  display: flex;
  flex-direction: column;
  /* width: 75px; */
  align-items: center;
  text-align: center;
}

.textbar {
  background-color: peachpuff;
  color: black;
  text-shadow: 1px 2px 2px tomato;
  font-size: large;
}

.button {
  background-color: transparent;
  color: black;
  text-shadow: 1px 2px 2px tomato;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}
.loader:before {
  content: '{';
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: '}';
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
