body {
  background-color: peachpuff;
  /* line-height: 10px; */
}

.App {
  text-align: center;
  text-shadow: 1px 2px 2px tomato;
  font-family: 'PressStart2PRegular';
  font-size: small;
}

.App-link {
  color: #61dafb;
}

.searchbar {
  display: flex;
  flex-direction: column;
  /* width: 75px; */
  align-items: center;
  text-align: center;
  line-height: 10px;
}

.textbar {
  background-color: peachpuff;
  color: black;
  text-shadow: 1px 2px 2px tomato;
  font-size: large;
}

.button {
  background-color: transparent;
  color: black;
  text-shadow: 1px 2px 2px tomato;
}

.button2 {
  height: 20px;
}

.dropdown {
  background-color: transparent;
  color: black;
  text-shadow: 1px 2px 2px tomato;
}

img {
  height: 200px;
  align-content: center;
  background-color: tomato;
  border: solid 2px black;
  border-radius: 25%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.pokename {
  text-decoration-line: underline;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}
.loader:before {
  content: '{';
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: '}';
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
