body {
  background-color: peachpuff;
  /* background-image: url('zimpokemon.png'); */
  /* background-image: url('cubone.png'); */
  /* background-image: url('dittoface.png'); */
  /* background-image: url('pikabackground.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-position: top; */
  line-height: 10px;
  margin: 15px;
}

.App {
  text-align: center;
  text-shadow: 1px 1px 2px tomato;
  font-family: 'PressStart2PRegular';
  font-size: small;
}

.App-link {
  color: #61dafb;
}

.searchbar {
  display: flex;
  flex-direction: column;
  /* width: 75px; */
  align-items: center;
  text-align: center;
  line-height: 10px;
}

.textbar {
  background-color: tomato;
  color: black;
  text-shadow: 1px 1px 2px tomato;
  font-size: large;
}

.button {
  /* background-color: peachpuff; */
  /* color: black; */
  height: 30px;
  /* text-shadow: 1px 1px 2px tomato; */
}

.button:hover {
  background: black;
  background-color: white;
}

.button2 {
  height: 30px;
}

.dropdown {
  background-color: transparent;
  color: white;
  height: 30px;
  text-shadow: 1px 1px 2px tomato;
}

.dropdowntype {
  background-color: peachpuff;
  color: black;
  height: 30px;
  text-shadow: 1px 1px 2px tomato;
}

img {
  height: 200px;
  align-content: center;
  background-color: tomato;
  border: solid 2px black;
  border-radius: 25%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.pagenumber {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokename {
  text-decoration-line: underline;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}
.loader:before {
  content: '{';
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
  margin-top: 50px;
}
.loader:after {
  content: '}';
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
